extends layout.pug

block content
    each post in posts
        li(class='text-secondary list-group-item mb-3')
            a( href='/post/' + post.id).text-secondary
                h3.ellipsis= post.title
                span.ellipsis= post.content
            span 作者：
                a(href="/user/" + post.userId)
                    img(width=30 height=30 src='/avatars/' + post.avatar alt=post.username).avatar-mid
                    span.ml-2= post.username
            span(class='index-time float-right mt-2')= post.timestamp
