extends layout.pug

block content
    div
        h3= post.title
        p  
            span.text-secondary 发帖人：
                img(width=30 height=30 src='/avatars/' + post.avatar alt=post.username).avatar-mid
                a(href='/user/' + post.userId).ml-2= post.username
                if (user && (user.id == post.userId))
                    a(href="/delete-post/" + post.id class='delete ml-5') 删除
            span(class='post-time float-right text-secondary mt-2')= post.timestamp
        p= post.content

    h5(class='text-secondary py-3') Comments：

    if comments.length
        ul(class='list-group list-group-flush')
            each comment in comments
                li.list-group-item
                    div
                        a(href="/user/" + comment.userId)
                            img(width=30 height=30 src='/avatars/' + comment.avatar alt=comment.username class='avatar-mid')
                            span.ml-2= comment.username
                        span(class='float-right text-secondary post-time mt-2')= comment.timestamp
                        p 回帖： #{comment.content}
                        if (user && (user.id == comment.userId))
                            a(href="/delete-comment/" + comment.id).delete 删除
    else
        div.no-comments 还没有人评论
        br

    div
        form(action='/add-comment' method='post')
            input(hidden=true name='postid' value=post.id)
            textarea(name="content", placeholder='请输入评论' class="form-control"  aria-label="With textarea")
            button(class="btn btn-primary float-right mt-2") 发布评论
